#eclipse stuff
.settings/

#mac stuff
.DS_Store

*.class
bin/

# Package Files #
*.jar
*.war
*.ear

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#latex stuff
.metadata
tmp
*.gz
*.pdf
*.aux
*.bbl
*.blg
*.brf
*.ilg
*.lof
*.log
*.lol
*.nlo
*.nls
*.out
*.toc

